.actions {
  display: flex;
  gap: 8px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
}

.actions a {
  margin-right: 8px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
}
